In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [2]:
my_movies=pd.read_csv("C:\\Users\\usr\\Downloads\\my_movies.csv")

In [4]:
df=pd.get_dummies(my_movies)
df.head()
df.describe()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.600000,0.700000,0.200000,0.200000,0.600000,0.200000,0.100000,0.100000,0.100000,0.200000,...,0.100000,0.100000,0.100000,0.600000,0.100000,0.100000,0.100000,0.400000,0.200000,0.100000
std,0.516398,0.483046,0.421637,0.421637,0.516398,0.421637,0.316228,0.316228,0.316228,0.421637,...,0.316228,0.316228,0.316228,0.516398,0.316228,0.316228,0.316228,0.516398,0.421637,0.316228
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...
1393      0.1  (Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...
1394      0.1  (Green Mile, V1_Sixth Sense, V2_LOTR1, V4_Gree...
1395      0.1  (Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...
1396      0.1  (Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...

[1397 rows x 2 columns]

In [8]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(LOTR2),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V5_LOTR2),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(Harry Potter1),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V3_Harry Potter1),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(Sixth Sense),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08

In [10]:
rules.sort_values('lift',ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Green Mile, Harry Potter1, V3_Harry Potter1, ...","(LOTR2, LOTR1, Sixth Sense)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
40481,"(V1_Sixth Sense, V3_Harry Potter1, V5_LOTR2)","(Green Mile, V4_Green Mile, Harry Potter1, Six...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
40448,"(V1_Sixth Sense, V4_Green Mile, V5_LOTR2, Sixt...","(Green Mile, Harry Potter1, V3_Harry Potter1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
40449,"(V1_Sixth Sense, Harry Potter1, V4_Green Mile,...","(Green Mile, V5_LOTR2, Sixth Sense)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
40450,"(V1_Sixth Sense, Harry Potter1, V4_Green Mile,...","(Green Mile, V3_Harry Potter1, V5_LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
...,...,...,...,...,...,...,...,...,...
682,"(Green Mile, V4_Green Mile)",(Gladiator),0.2,0.7,0.1,0.500000,0.714286,-0.04,0.600000
218,(Gladiator),"(Green Mile, Sixth Sense)",0.7,0.2,0.1,0.142857,0.714286,-0.04,0.933333
669,(Gladiator),"(Green Mile, V1_Sixth Sense)",0.7,0.2,0.1,0.142857,0.714286,-0.04,0.933333
664,"(Green Mile, V1_Sixth Sense)",(Gladiator),0.2,0.7,0.1,0.500000,0.714286,-0.04,0.600000
56,(V4_Green Mile),(Gladiator),0.2,0.7,0.1,0.500000,0.714286,-0.04,0.600000

In [11]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64247,(LOTR2),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V5_LOTR2),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(Harry Potter1),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V3_Harry Potter1),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(Sixth Sense),"(Green Mile, V1_Sixth Sense, LOTR1, V2_LOTR1, ...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08